#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  stirling-pdf-app.service
BindsTo=stirling-pdf.service
After=stirling-pdf.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p config
ExecStartPre=/bin/rm -f %t/stirling-pdf-app.pid %t/stirling-pdf-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/stirling-pdf-app.pid \
    --cidfile %t/stirling-pdf-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/stirling-pdf.pod-id --replace -d --name  stirling-pdf-app \
    --env SYSTEM_GOOGLEVISIBILITY=false \
    --env METRICS_ENABLED=true \
    --env SYSTEM_MAXFILESIZE=128 \
    --env UI_APPNAMENAVBAR=Stirling-PDF \
    --env UI_HOMEDESCRIPTION=Stirling-PDF \
    --env UI_APPNAME=Stirling-PDF \
    --env SYSTEM_DEFAULTLOCALE=en_US \
    --env DOCKER_ENABLE_SECURITY=false \
    --env SECURITY_ENABLELOGIN=false \
    --volume=stirling-pdf-data:/usr/share/tesseract-ocr/5/tessdata \
    --volume=stirling-pdf-config:/configs \
    --volume=stirling-pdf-logs:/logs \
    --volume=stirling-pdf-customFiles:/customFiles \
    ${S_PDF_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/stirling-pdf-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP stirling-pdf-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/stirling-pdf-app.ctr-id
PIDFile=%t/stirling-pdf-app.pid
Type=forking

[Install]
WantedBy=default.target
